{% extends "thema.html" %}
{% block body %}
    <section class="con_main">
        <form method="POST" action="/finish">
            <!-- <img src="static/img/logo.svg" alt=""> -->
            <div class="finish_thema_txt_box">
                <div>
                    <table border="whole">
                        <tr name="top1">
                            <td class="idea"><div>{{ideas.idea1_1}}</div></td>
                            <td class="idea"><div>{{ideas.idea1_2}}</div></td>
                            <td class="idea"><div>{{ideas.idea1_3}}</div></td>
                            <td class="idea"><div>{{ideas.idea2_1}}</div></td>
                            <td class="idea"><div>{{ideas.idea2_2}}</div></td>
                            <td class="idea"><div>{{ideas.idea2_3}}</div></td>
                            <td class="idea"><div>{{ideas.idea3_1}}</div></td>
                            <td class="idea"><div>{{ideas.idea3_2}}</div></td>
                            <td class="idea"><div>{{ideas.idea3_3}}</div></td>
                        </tr>
                        <tr name="top2">
                            <td class="idea"><div>{{ideas.idea1_4}}</div></td>
                            <td class="sub_thema"><div>{{sub_themas.sub_thema1}}</div></td>
                            <td class="idea"><div>{{ideas.idea1_5}}</div></td>
                            <td class="idea"><div>{{ideas.idea2_4}}</div></td>
                            <td class="sub_thema"><div>{{sub_themas.sub_thema2}}</div></td>
                            <td class="idea"><div>{{ideas.idea2_5}}</div></td>
                            <td class="idea"><div>{{ideas.idea3_4}}</div></td>
                            <td class="sub_thema"><div>{{sub_themas.sub_thema3}}</div></td>
                            <td class="idea"><div>{{ideas.idea3_5}}</div></td>
                        </tr>
                        <tr name="top3">
                            <td class="idea"><div>{{ideas.idea1_6}}</div></td>
                            <td class="idea"><div>{{ideas.idea1_7}}</div></td>
                            <td class="idea"><div>{{ideas.idea1_8}}</div></td>
                            <td class="idea"><div>{{ideas.idea2_6}}</div></td>
                            <td class="idea"><div>{{ideas.idea2_7}}</div></td>
                            <td class="idea"><div>{{ideas.idea2_8}}</div></td>
                            <td class="idea"><div>{{ideas.idea3_6}}</div></td>
                            <td class="idea"><div>{{ideas.idea3_7}}</div></td>
                            <td class="idea"><div>{{ideas.idea3_8}}</div></td>
                        </tr>
                        <tr name="middle1">
                            <td class="idea"><div>{{ideas.idea4_1}}</div></td>
                            <td class="idea"><div>{{ideas.idea4_2}}</div></td>
                            <td class="idea"><div>{{ideas.idea4_3}}</div></td>
                            <td class="sub_thema"><div>{{sub_themas.sub_thema1}}</div></td>
                            <td class="sub_thema"><div>{{sub_themas.sub_thema2}}</div></td>
                            <td class="sub_thema"><div>{{sub_themas.sub_thema3}}</div></td>
                            <td class="idea"><div>{{ideas.idea5_1}}</div></td>
                            <td class="idea"><div>{{ideas.idea5_2}}</div></td>
                            <td class="idea"><div>{{ideas.idea5_3}}</div></td>
                        </tr>
                        <tr name="middle2">
                            <td class="idea"><div>{{ideas.idea4_4}}</div></td>
                            <td class="sub_thema"><div>{{sub_themas.sub_thema4}}</div></td>
                            <td class="idea"><div>{{ideas.idea4_5}}</div></td>
                            <td class="sub_thema"><div>{{sub_themas.sub_thema4}}</div></td>
                            <td class="main_thema"><div>{{main_thema}}</div></td>
                            <td class="sub_thema"><div>{{sub_themas.sub_thema5}}</div></td>
                            <td class="idea"><div>{{ideas.idea5_4}}</div></td>
                            <td class="sub_thema"><div>{{sub_themas.sub_thema5}}</div></td>
                            <td class="idea"><div>{{ideas.idea5_5}}</div></td>
                        </tr>
                        <tr name="middle3">
                            <td class="idea"><div>{{ideas.idea4_6}}</div></td>
                            <td class="idea"><div>{{ideas.idea4_7}}</div></td>
                            <td class="idea"><div>{{ideas.idea4_8}}</div></td>
                            <td class="sub_thema"><div>{{sub_themas.sub_thema6}}</div></td>
                            <td class="sub_thema"><div>{{sub_themas.sub_thema7}}</div></td>
                            <td class="sub_thema"><div>{{sub_themas.sub_thema8}}</div></td>
                            <td class="idea"><div>{{ideas.idea5_6}}</div></td>
                            <td class="idea"><div>{{ideas.idea5_7}}</div></td>
                            <td class="idea"><div>{{ideas.idea5_8}}</div></td>
                        </tr>
                        <tr name="bottom1">
                            <td class="idea"><div>{{ideas.idea6_1}}</div></td>
                            <td class="idea"><div>{{ideas.idea6_2}}</div></td>
                            <td class="idea"><div>{{ideas.idea6_3}}</div></td>
                            <td class="idea"><div>{{ideas.idea7_1}}</div></td>
                            <td class="idea"><div>{{ideas.idea7_2}}</div></td>
                            <td class="idea"><div>{{ideas.idea7_3}}</div></td>
                            <td class="idea"><div>{{ideas.idea8_1}}</div></td>
                            <td class="idea"><div>{{ideas.idea8_2}}</div></td>
                            <td class="idea"><div>{{ideas.idea8_3}}</div></td>
                        </tr>
                        <tr name="bottom2">
                            <td class="idea"><div>{{ideas.idea6_4}}</div></td>
                            <td class="sub_thema"><div>{{sub_themas.sub_thema6}}</div></td>
                            <td class="idea"><div>{{ideas.idea6_5}}</div></td>
                            <td class="idea"><div>{{ideas.idea7_4}}</div></td>
                            <td class="sub_thema"><div>{{sub_themas.sub_thema7}}</div></td>
                            <td class="idea"><div>{{ideas.idea7_5}}</div></td>
                            <td class="idea"><div>{{ideas.idea8_4}}</div></td>
                            <td class="sub_thema"><div>{{sub_themas.sub_thema8}}</div></td>
                            <td class="idea"><div>{{ideas.idea8_5}}</div></td>
                        </tr>
                        <tr name="bottom3">
                            <td class="idea"><div>{{ideas.idea6_6}}</div></td>
                            <td class="idea"><div>{{ideas.idea6_7}}</div></td>
                            <td class="idea"><div>{{ideas.idea6_8}}</div></td>
                            <td class="idea"><div>{{ideas.idea7_6}}</div></td>
                            <td class="idea"><div>{{ideas.idea7_7}}</div></td>
                            <td class="idea"><div>{{ideas.idea7_8}}</div></td>
                            <td class="idea"><div>{{ideas.idea8_6}}</div></td>
                            <td class="idea"><div>{{ideas.idea8_7}}</div></td>
                            <td class="idea"><div>{{ideas.idea8_8}}</div></td>
                        </tr>  
                    </table>                    
                </div>
            </div>
            <div class="message_text">
                <h1>Twitterで共有しましょう。</h1>
            </div>
            <div class="btn">
                <button class="submit_btn" type="submit" id="submitBtn">共有する</button>
                <!-- <button class="negative_btn" type="submit" id="submitBtn">共有しない</button> -->
            </div>
            <!-- <div class="btn">
                <button class="negative_btn" type="submit" id="submitBtn" onclick="document.this_form.action = '/whole'">戻る</button>
            </div> -->
        </form>
    </section>
{% endblock %}