{% extends "thema.html" %}
{% block body %}
    <section class="conA">
        <div class="container">
            <!-- <img src="static/img/logo.svg" alt=""> -->
            <h1>まんだら～と</h1>
            <p>アイデア創出アイデア共有</p>
            <a href="/main">はじめる</a>
        </div>
    </section>
{% endblock %}
        <!-- <table>
            <tr>
                <th></th>
                <th></th>
            </tr>
            {%for item in l %}
            <tr>
                <td>{{item.name}}</td><td>{{item.value}}</td>
            </tr>
            {% endfor%}
        </table> -->